{% extends 'layout.html' %}

{% block content %}
<div class="login-page clearfix">
  <div class="login-box auth0-box before">
    <img src="https://i.cloudup.com/StzWWrY34s.png" />
    <h3>Auth0 Example</h3>
    <p>Zero friction identity infrastructure, built for developers</p>
    <a href="https://dev-etwnehkl.us.auth0.com/authorize?response_type=code&client_id=Vm99fjvp9PP4Ggx6lxtdU2clOhsovnEs&redirect_uri=http://localhost:3000/complete/auth0&scope=appointments%20contacts&audience=appointments:api&state=xyzABC123">
      Sign In
    </a>
    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
  </div>
</div>
{% endblock content %}
